@page
@model projekt_SBD.Pages.Stomatolodzy.EditModel

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Stomatolog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stomatolog.StomatologId" />
            <div class="form-group">
                <label asp-for="Stomatolog.Imie" class="control-label">Imię</label>
                <input asp-for="Stomatolog.Imie" class="form-control" />
                <span asp-validation-for="Stomatolog.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stomatolog.DrugieImie" class="control-label">Drugie imię</label>
                <input asp-for="Stomatolog.DrugieImie" class="form-control" />
                <span asp-validation-for="Stomatolog.DrugieImie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stomatolog.Nazwisko" class="control-label">Nazwisko</label>
                <input asp-for="Stomatolog.Nazwisko" class="form-control" />
                <span asp-validation-for="Stomatolog.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
