@page
@model projekt_SBD.Pages.Uczulenia.DeleteModel

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h3>Na pewno chcesz usunąć to uczulenie?</h3>
<div>
    <hr />
    <dl class="col">
        <dt class="row">
            Nazwa
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.Uczulenie.NazwaAlergenu)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Uczulenie.UczulenieId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Powrót</a>
    </form>
</div>
