@page
@model projekt_SBD.Pages.Asystenci.CreateModel

@{
    ViewData["Title"] = "Nowy asystent";
}

<h1>Dodaj nowy profil asystenta</h1>

<h4>Asystent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Asystent.Imie" class="control-label">Imię</label>
                <input asp-for="Asystent.Imie" class="form-control" />
                <span asp-validation-for="Asystent.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asystent.DrugieImie" class="control-label">Drugie imię</label>
                <input asp-for="Asystent.DrugieImie" class="form-control" />
                <span asp-validation-for="Asystent.DrugieImie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asystent.Nazwisko" class="control-label">Nazwisko</label>
                <input asp-for="Asystent.Nazwisko" class="form-control" />
                <span asp-validation-for="Asystent.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
