@page
@model projekt_SBD.Pages.Asystenci.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Asystent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asystent.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            Imię
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asystent.Imie)
        </dd>
        <dt class="col-sm-2">
            Drugie imię
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asystent.DrugieImie)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Asystent.AsystentId">Edytuj</a> |
    <a asp-page="./Index">Wróć</a>
</div>
