@page
@model projekt_SBD.Pages.StomatolodzyGodzinyPracy.EditModel

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edytuj</h1>

<h4>Godziny pracy stomatologa</h4>
<h3>@Model.stomatologSurnameName</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StomatologGodzinyPracy.ZmianaId" />
            <input type="hidden" asp-for="StomatologGodzinyPracy.StomatologId" />
            <div class="form-group">
                <label asp-for="StomatologGodzinyPracy.Poczatek" class="control-label"></label>
                <input asp-for="StomatologGodzinyPracy.Poczatek" class="form-control" />
                <span asp-validation-for="StomatologGodzinyPracy.Poczatek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StomatologGodzinyPracy.Koniec" class="control-label"></label>
                <input asp-for="StomatologGodzinyPracy.Koniec" class="form-control" />
                <span asp-validation-for="StomatologGodzinyPracy.Koniec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Stomatolodzy/Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
