@page
@model projekt_SBD.Pages.AsystenciGodzinyPracy.CreateModel

@{
    ViewData["Title"] = "Dodawanie";
}

<h1>Dodaj nowe godziny pracy</h1>

<h4>Asystent</h4>
<h4>@Model.asystentSurnameName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="asystent.AsystentId" />
            <div class="form-group">
                <label asp-for="AsystentGodzinyPracy.Poczatek" class="control-label"></label>
                <input asp-for="AsystentGodzinyPracy.Poczatek" class="form-control" />
                <span asp-validation-for="AsystentGodzinyPracy.Poczatek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsystentGodzinyPracy.Koniec" class="control-label"></label>
                <input asp-for="AsystentGodzinyPracy.Koniec" class="form-control" />
                <span asp-validation-for="AsystentGodzinyPracy.Koniec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Asystenci/Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
