@page
@model projekt_SBD.Pages.AsystenciGodzinyPracy.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AsystentGodzinyPracy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AsystentGodzinyPracy.ZmianaId" />
            <div class="form-group">
                <label asp-for="AsystentGodzinyPracy.AsystentId" class="control-label"></label>
                <select asp-for="AsystentGodzinyPracy.AsystentId" class="form-control" asp-items="ViewBag.AsystentId"></select>
                <span asp-validation-for="AsystentGodzinyPracy.AsystentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsystentGodzinyPracy.Poczatek" class="control-label"></label>
                <input asp-for="AsystentGodzinyPracy.Poczatek" class="form-control" />
                <span asp-validation-for="AsystentGodzinyPracy.Poczatek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsystentGodzinyPracy.Koniec" class="control-label"></label>
                <input asp-for="AsystentGodzinyPracy.Koniec" class="form-control" />
                <span asp-validation-for="AsystentGodzinyPracy.Koniec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
